
<h1>Creating Post</h1>
<form action="/post" method="post">
  <label for="title" name="title">Title: </label>
  <input type="text" name="title">
  <label for="body" name="body"> Body of Post: </label>
  <input type="text-area" name="body">
  <button type="submit"> Create Post </button>
</form>
